.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  padding: 0.7rem 1.5rem; /* Reducimos el padding para que el navbar sea más pequeño */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 60px; /* Reducimos la altura */
}

.navbar-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  width: 300px; /* Reducimos el ancho */
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  transition: all 0.3s ease;
}

.navbar-buttons {
  display: flex;
  gap: 0.8rem;
}

.navbar-button {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 0.5rem 1rem; 
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem; 
}

.navbar-button:hover {
  background: rgba(255, 255, 255, 0.4);
}
